# Covid-19 Explorations in Mulnomah County, Portland Oregon

In [29]:
from datetime import datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

# remove warning
# https://stackoverflow.com/questions/20625582/how-to-deal-with-settingwithcopywarning-in-pandas
pd.options.mode.chained_assignment = None  # default='warn'

In [30]:
# https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series
# https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv
df = pd.read_csv('time_series_covid19_confirmed_US.csv')

In [31]:
dfm = df[(df.Province_State == 'Oregon') & (df.Admin2 == 'Multnomah')]

In [32]:
dfm.drop(['UID','iso2','iso3','code3','FIPS','Admin2','Province_State','Country_Region','Lat','Long_','Combined_Key'], axis=1, inplace=True)

In [33]:
# list(dfm)
dfm.head()
# dfm.describe()
# dfm.columns.values.tolist()

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,3/15/21,3/16/21,3/17/21,3/18/21,3/19/21,3/20/21,3/21/21,3/22/21,3/23/21,3/24/21
2316,0,0,0,0,0,0,0,0,0,0,...,32427,32470,32493,32545,32596,32643,32668,32692,32736,32795

In [34]:
# Pandas.melt() unpivots a DataFrame from wide format to long format.
dfm = dfm.melt(var_name ='date', value_name='cases')
dfm.set_index('date', inplace=True)

# Converting the index as date
dfm.index = pd.to_datetime(dfm.index)
# dfm.tail()

            cases
date
2021-03-20  32643
2021-03-21  32668
2021-03-22  32692
2021-03-23  32736
2021-03-24  32795

In [36]:
dfm['new_cases'] = dfm.diff(axis=0)
dfm.tail()

            cases  new_cases
date
2021-03-20  32643       47.0
2021-03-21  32668       25.0
2021-03-22  32692       24.0
2021-03-23  32736       44.0
2021-03-24  32795       59.0

In [22]:
# dfm.cases.plot(figsize=(24,12))
# dfm.new_cases.plot(figsize=(24,12))

---
## Goal: 
* #### make a visually appealing plot
* #### have `cases` and `new_cases` overlayed on each other
* #### scale `cases` to match with `new_cases`, indicate this scale in the legend